body{
    font-family: Arial, Helvetica, sans-serif
}

.header {
    padding: 30px;
    text-align: center;
    background: grey;
    color:rosybrown;
}
.header img {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
  }
  
  .header h1 {
    position: center;
    top: 10px;
    left: 10px;
  }

nav {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 8px;
    float: right;
    background-color: lightgray;
    overflow: hidden;
    
  }
  
  nav a {
   float: right;
   color: white;
   text-align: center;
   text-decoration: none;
   padding: 8px 6px;
  }
nav a:hover{
background-color: gray;
}

nav a.active{
    background-color: rosybrown;
    color: white;
}
  

  



