
body{
    background-image: url(bg.png);
    background-size: cover;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    position: absolute;
}
div{
    width: 300px;
    padding: 25px;
}




